body{
    margin: 0 auto;
    max-width: 50em;
    font-family: sans-serif;
    background-color: #C6E0FF;
}

.container{
    padding: 25px;
    text-align: center;
}

#playerChoice{
    padding:20px;
}
.buttonStyle{
    padding:25px;
}
.scores{
    margin-top:45px;
    border-radius: 15px;
}

.reset{
   margin-bottom:20px;
}

.allContent{
    border: solid #C0C0C0 5px;
    background-color:#eae5d6;
    border-radius: 15px;
    margin-top:15%;
}
