body{
    margin: 0 auto;
    max-width: 50em;
    font-family: sans-serif;
    background-color: #C6E0FF;
}

.container1{
    padding: 20px;
    /*text-align:left;*/
    /*flex-wrap:wrap;*/

}

#playerChoice{
    padding:20px;
    width: 25%;
    margin-left:30px;
}
.buttonStyle{
    padding:25px;
    /*text-align:right;*/
    width:25%;
}
#computerChoice{
    margin-bottom: 50px;
}

.scores{
    margin-top:45px;
    text-align:center;
    border: solid black 3px;
    background-color:white;
}

.reset{
   margin-bottom:20px;
}

.allContent{
    border: solid #C0C0C0 10px;
    background-color:#eae5d6;
    border-radius: 15px;
    margin-top:2px;
    margin-bottom:2px;
}

button{
    border:solid #6ecbb8 3px;
    border-radius: 10px;
    background-color: darkseagreen;
    height: 70px;
    width: 155px;
    font-weight:bold;
    margin-bottom: 10px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

img{
    height: 70px;
    width: 120px;
    border: solid #6ecbb8 3px;
    border-radius: 10px;
}

th{
    width:25%;
}

table{
    justify-content: center;
}

h3 {
    text-align: center;
    color:#FDCA0D;

}



