body{
    margin: 0 auto;
    max-width: 50em;
    font-family: sans-serif;
    background-color: #C6E0FF;
}

.container1{
    padding: 15px;
}

#playerChoice{
    padding:5px;
    width: 25%;
}
.buttonStyle{
    padding:15px;
    width:70px;
    margin-right:55px;
}
#computerChoice{
    margin-bottom: 50px;
}

.scores{
    margin-top:5px;
    text-align:center;
    border: solid black 3px;
    background-color:white;
}

.scoreContent{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.reset{
   margin-bottom:20px;
}

.allContent{
    border: solid #C0C0C0 10px;
    background-color:#eae5d6;
    border-radius: 15px;
    margin-top:2px;
    margin-bottom:2px;
}

button{
    border:solid #6ecbb8 3px;
    border-radius: 10px;
    background-color: darkseagreen;
    height: 45px;
    width: 155px;
    font-weight:bold;
    margin-bottom: 10px;


}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

img{
    height: 70px;
    width: 140px;
    border: solid #6ecbb8 3px;
    border-radius: 10px;
}

button:hover{
    filter:brightness(140%);

}
button:hover .onHoverType{
    display:inline;
}

.onHoverType{
    display:none;
}
button:hover .current{
    display:none;
}


th{
    width:25%;
}

table{
    justify-content: center;
}

h3 {
    text-align: center;
    color:#FDCA0D;
    margin-top:5px;

}

.pokéLeft{
    float:left;

}

.pokéRight{
    float:right;
}

.pokéPic{
    height:200px;
    width:200px;
    border:none;
}
